.products{
    display: flex;
}
.products ul{
    margin: 5px;
    padding: 40px;
    border: 1px #aaaaaa solid;
    border-radius: 5px;
    text-align: center;
}
li{
    list-style: none;
}
li:nth-child(1){
    font-weight: bold;
    font-size: 20px;
}
li:nth-child(2){
    margin: 15px 0px;
}